@import '../template/css/bootstrap.min.css';
@import "../template/cubeportfolio/css/cubeportfolio.min.css";
@import '../template/fontawesome/css/all.css';
@import "../template/css/colors/red.css";
@import "../template/css/style.css";
@import '~vue-loading-overlay/dist/vue-loading.css';

.cbp-item figure figcaption {
    position: absolute;
    padding-top: 0;
    width: 95%;
    margin: 10px 0 0 0;
    top: 50%;
    bottom: auto;
    transform: translate(0, -50%);
}

.cbp-item figure:hover figcaption h3,
.cbp-item figure:hover figcaption p {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
}

.breadcrumbs {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 12px;
        overflow: hidden;
    }

    li {
        float: left;
        &:before {
            float: left;
            margin: -2px 2.5px 0;
            content: '→';
        }

        &:first-child:before {
            display: none;
        }
        a {
            color: #979797;
        }
    }
}

.categories-menu {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        padding-right: 20px;
        font-size: 15px;
    }

    a {
        color: #000;
    }

    li.exact-active a,
    a:hover {
        color: #ea0026;
    }
}

.full-menu .full-inner nav ul li.exact-active a {
    color: #ea0026;
}

.hover_no_decoration:hover {
    text-decoration: none;
}

.news-category_link,
.news-category_link:hover {
    color: #ea0026;
}

.article-comments .comment {
    margin-top: 30px;
    padding-bottom: 0;
    border-bottom: 0;
    border-top: solid 1px #dfdfdf;
}

.portfolio_notifications {
    padding: 10px;
    margin: 5px;

    font-size: 12px;

    color: #ffffff;
    background: #44A4FC;
    border-left: 5px solid #187FE7;

    &.warn {
        background: #efefef;
        color: #000;
        border-left-color: #ea0026;
    }

    &.error {
        background: #efefef;
        color: #000;
        border-left-color: #ea0026;

    }

    &.success {
        background: #efefef;
        color: #000;
        border-left-color: #ea0026;
    }
}


.grecaptcha-badge {
    display: none !important;
}
